.error-404 {
  background-image: url(../images/404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  background-position: 50%;
  padding-top: 18.5rem;
  padding-bottom: 6rem;
}

.error-content {
  position: relative;
  text-align: center;
}

.error-menu {
  padding-top: 4rem;
  color: $heading-color;

  ul {
    width: 75%;
  }

  li {
    margin: auto;

    a {
      color: $heading-color;
      font-size: 1rem;
      
      &:hover {
        color: $theme-color;
      }
    }
  }
}