
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/

//-------------------- Arrow Link --------------------//

.event-date {
	font-size: 5.625rem;
	font-family: 'Monoton',sans-serif;
	color: #dbdbdb;
	margin-bottom: 2.5rem;
}