
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/


#copyrights {
	color: #5c5b58;
	font-size: 0.93rem;
	font-weight: 400;	
	z-index: 1;	
}

.footer-main {
	background-color: #1c1c1c;
	padding-top: 6.875rem;
	padding-bottom: 4.325rem;
}

.footer-bottom {
	background-color: #282828;
}

