.main-bg {
  background-image: url(../images/404.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 6.25rem) center;
  background-size: 100%;
  position: relative;
  background-position: 50%;
}

.main {
  position: relative;
  text-align: center;
  
  p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: #302f2d;
  }

  img {
    width: 70%;

    @media (max-width: 575px) {
      width: 100%;
    }
  }
}

.link {
  padding-top: 4rem;
  color: #302f2d;
  

  ul {
    width: 75%;
  }

  li {
    margin: auto;

    a {
      color: #302f2d;
      font-size: 1rem;
      
      &:hover {
        color: red;
    }
    }
  }
}