
/* ----------------------------------------------------------------

	pagetitle.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Page Title
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for page title. Thanks!
-----------------------------------------------------------------*/


#page-title {
	position: relative;
	padding-top: 7rem;

	.sub-title {
		letter-spacing: 2px;
		margin-bottom: 2.5rem;
	}

	.title {
		display: block;		
		font-family: $heading-font;
		font-size: 5rem;
		font-weight: 900;		
		line-height: 1;
		margin-bottom: 3.5rem;
	}
}
