/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.heading-font { font-family: $heading-font !important; }
.body-font { font-family: $body-font !important; }

// Font Weight
.fw-semi-light { font-weight: 350; }
.fw-semi-bold { font-weight: 600; }

// Text Color
.text-black { color: #000 ; }
.theme-color { color: $theme-color; }

//background-color
.bg-grey { background-color: #f3f5f4; }
//-------------------- Image --------------------//

img {
	&.img-full {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


//-------------------- Section ------------------//

.section {
	position: relative;
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;

	@include media-breakpoint-down(lg) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}