
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	margin-bottom: 1.875rem;

	.widget-title {
		font-size: $h5-font-size;
		font-family: $heading-font;
		font-weight: 600;
		margin-bottom: 1.5rem;
	}	

	// Widget - Social
	&.widget-social {
		.social-icons {
			li {
				padding: 0.25rem;

				a {
					background-color: #282828;					
					color: white;
					display: inline-block;
					line-height: 1.8125rem;
					width: 1.8125rem;
					height: 1.8125rem;		
					vertical-align: middle;
					text-align: center;
					@include border-radius(50%);
		
					&:hover {
						color: $theme-color;
					}
		
					i {
						vertical-align: top;
						line-height: 1.8125rem;
					}

					@include media-breakpoint-down(sm) {
						width: 2.5rem;
						height: 2.5rem;
						display: flex;
						align-items: center;
						justify-content: center;

						
						i {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}

	// Widget - Links
	&.widget-links {
		ul {
			li {
				a {
					color: #5c5c5c;
					text-transform: uppercase;

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		.payments {
			display: flex;

			.payment-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: $spacer / 4;
				width: 3.5rem;
				height: 2rem;
				background-color: white;
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: center;

				@include border-radius($spacer / 4);

				&.visa {
					background-image: url(../images/payments/visa.svg);
				}

				&.paypal {
					background-image: url(../images/payments/paypal.svg);
				}

				&.express {
					background-image: url(../images/payments/express.svg);
				}

				&.mastercard {
					background-image: url(../images/payments/mastercard.svg);
				}
			}
		}
	}

	&.widget-custom-html {
		.widget-content {
			p {
				color: #5c5c5c;
			}

			a {
				color: white;
	
				&:hover {
					color: $theme-color;
				}
	
				span {
					display: inline-block;
					color: white;
					margin-right: $spacer * 1.5;
					font-size: 1.2rem;
					width: 1.8rem;
					text-align: center;
				}
			}
		}
	}
}