
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.fboxs{
	background-color: #282828;
	padding-top: 4.54rem;
	padding-bottom: 5.2rem;

	.fbox {
		.fbox-icon {
			img {
				margin-bottom: $spacer;
				width: 10%;
			}
		}

		.fbox-header {
			h5 {
				color: white;
				font-weight: 400;
				font-family:$body-font;
			}
		
			p {
				font-weight: 300;
				margin-bottom: 0;
				color: #5c5c5c;
			}
		}
			
	}
}


